<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">En plus c’est gratuit !</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Trouver le mate parfait !</h1>
        <p>Je vous jure c' est un super site web, vous pouvez rencontrer des mates à pl, qui vous pl, à insulté, bref tout ce qu’un joueurs de lol cherche ! Oui vous êtes désespéré mais tkt on va te trouver un travail. Bien se passer ne t'inquiète pas, ça va bien se passer. Oui j'écrit ce texte car j’aime pas trop le ipsum lorem en texte de remplissage.</p>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Inscrivez-vous !</h4>
      </div>
      <div class="card-body">
        <p>Inscrivez-vous en cliquant sur le bouton ci dessous</p>
        <%= link_to "Sign up now", new_account_registration_path, class: "btn btn-lg btn-block btn-primary" %>
      </div>
    </div>
  </div>
</div>